@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('./assets/fonts/DinRoundPro/style.css');
@tailwind base;
@tailwind components;
*{
  @apply font-sourceSansPro;
}
@tailwind utilities;

.container1 {
  width: 100%;
}
@media (min-width: 540px) {
  .container1 {
    max-width: 540px;
  }
}
@media (min-width: 720px) {
  .container1 {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container1 {
    max-width: 960px;
  }
}
@media (min-width: 1140px) {
  .container1 {
    max-width: 1340px;
  }
}
@media (min-width: 1320px) {
  .container1 {
    max-width: 1620px;
  }
}
